body {
  margin: 0;
  font-family: cursive;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  min-height: 100vh;
}


header,
footer {
  background: #f60000a9;
  color: rgb(0, 0, 0);
  padding: 20px;
  text-align: center;
}

nav {
  background: #444;
  display: grid;
  border: 3px solid#000000;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  text-align: center;
  gap: 10px;
  padding: 10px;
}

nav a {
  color: white;
  text-decoration: none;
}

main {
  padding: 15%;
  background-color: #fef2f2;
}

.destaque {
  display: flex;
  flex-direction: column;
  border: 3px solid rgb(0, 0, 0);
  background-color: rgba(249, 0, 0, 0.152);
  justify-content: center;
}

.numero {
  display: flex;
  justify-content: center;
}

.numero p {
  font-size: 25px;
  border: 3px solid;
  padding: 0px 30px 0px 30px;
  background-color: #f60000a9;
}

.imagem {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 20px 20px 20px;
}

.imagem img {
  width: 200px;
  height: 200px;
  background-color: rgb(96, 2, 130);
  border: 3px solid rgb(0, 0, 0);
}

.descricao {
  display: flex;
  flex-direction: column;
  padding: 0px 20px 0px 20px;
}

.botoes {
  display: flex;
  justify-content: center;
  padding: 10px 20px 20px 20px;
  gap: 50px;
}

.botoes button {
  background-color: #f60000a9;
  color: aliceblue;
  padding: 2% 15% 2% 15%;
  border-radius: 10px;
}